!!! 5
html
  head
    title Unsaving Daiva
    link(rel="stylesheet", href="/stylesheets/app.css")
    script(type="application/javascript", src="/javascripts/raphael.js")
    script(type="application/javascript", src="/javascripts/qevent.js")
    script(type="application/javascript", src="/javascripts/app.js")
  body!= body